.container { max-width: 1100px; padding: 4px 15px; margin: 0 auto; overflow: auto; }

video { width: 600px; padding: 10px; }

.showCase { background-color: #424242; }

.showCase nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.showCase a { color: #00867e; padding: 15px; }

.showCase a:hover { color: #20fff2; }

body { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; color: #00ecde; background-color: #282828; line-height: 1.6; }

body h3 { color: #99ff99; }

.aColor { color: #00867e; }

.titles { color: #ffffff; }

.titles h1 { font-size: 80px; font-style: italic; }

.titles h2 { font-size: 20px; }

.imgContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 400px; height: auto; }

.textContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; padding-left: 5px; }

.mainContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.nameContainer { padding-left: 10px; }

.center { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media (max-width: 991px) { .container { max-width: 900px; padding: 4px 12px; margin: 0 auto; overflow: auto; }
  video { width: 500px; padding: 10px; }
  .showCase { background-color: #424242; }
  .showCase nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .showCase a { color: #00867e; padding: 12px; }
  .showCase a:hover { color: #20fff2; }
  .titles { color: #ffffff; }
  .titles h1 { font-size: 70px; font-style: italic; }
  .titles h2 { font-size: 18px; }
  .imgContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 350px; height: auto; } }

@media (max-width: 768px) { .container { max-width: 750px; padding: 4px 10px; margin: 0 auto; overflow: auto; }
  video { width: 400px; padding: 10px; }
  .showCase { background-color: #424242; }
  .showCase nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .showCase a { color: #00867e; padding: 10px; }
  .showCase a:hover { color: #20fff2; }
  .titles { color: #ffffff; }
  .titles h1 { font-size: 60px; font-style: italic; }
  .titles h2 { font-size: 15px; }
  .imgContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 320px; height: auto; } }

@media (max-width: 400px) { .container { max-width: 600px; padding: 3px 8px; margin: 0 auto; overflow: auto; }
  video { width: 300px; padding: 10px; }
  .showCase { background-color: #424242; }
  .showCase nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .showCase a { color: #00867e; padding: 8px; }
  .showCase a:hover { color: #20fff2; }
  .titles { color: #ffffff; }
  .titles h1 { font-size: 50px; font-style: italic; }
  .titles h2 { font-size: 12px; }
  .imgContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 280px; height: auto; } }

.gallery { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 5rem; }

.boxContainer { -webkit-box-flex: 1; -ms-flex: 1 1 20rem; flex: 1 1 20rem; background-color: #00867e; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-radius: 0.2rem; overflow: hidden; -webkit-box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #00ecde; box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #00ecde; }

.imgGallery { height: 12rem; width: 100%; -o-object-fit: cover; object-fit: cover; }

.galleryContent { padding: 2rem; }

@media (max-width: 991px) { .gallery { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 4rem; }
  .boxContainer { -webkit-box-flex: 1; -ms-flex: 1 1 15rem; flex: 1 1 15rem; background-color: #00867e; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-radius: 0.2rem; overflow: hidden; -webkit-box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #00ecde; box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #00ecde; }
  .imgGallery { height: 10rem; width: 100%; -o-object-fit: cover; object-fit: cover; }
  .galleryContent { padding: 1.5rem; } }

@media (max-width: 768px) { .gallery { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 3rem; }
  .boxContainer { -webkit-box-flex: 1; -ms-flex: 1 1 12rem; flex: 1 1 12rem; background-color: #00867e; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-radius: 0.2rem; overflow: hidden; -webkit-box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #00ecde; box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #00ecde; }
  .imgGallery { height: 8rem; width: 100%; -o-object-fit: cover; object-fit: cover; }
  .galleryContent { padding: 1rem; } }

@media (max-width: 400px) { .gallery { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 2rem; }
  .boxContainer { -webkit-box-flex: 1; -ms-flex: 1 1 10rem; flex: 1 1 10rem; background-color: #00867e; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-radius: 0.2rem; overflow: hidden; -webkit-box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #00ecde; box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #00ecde; }
  .imgGallery { height: 6rem; width: 100%; -o-object-fit: cover; object-fit: cover; }
  .galleryContent { padding: 0.8rem; } }

.videoContainer { padding: 0; margin-right: 100px; }

.footer-content { margin-top: 15px; padding: 0 15px; display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.footer-content a { color: #00867e; }

.footer-content a:hover { color: #20fff2; }

@media (max-width: 991px) { .footer-content { margin-top: 12px; padding: 0 12px; display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .footer-content a { color: #00867e; }
  .footer-content a:hover { color: #20fff2; } }

@media (max-width: 768px) { .footer-content { margin-top: 10px; padding: 0 10px; display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .footer-content a { color: #00867e; }
  .footer-content a:hover { color: #20fff2; } }

@media (max-width: 400px) { .footer-content { margin-top: 7px; padding: 0 7px; display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .footer-content a { color: #00867e; }
  .footer-content a:hover { color: #20fff2; } }
