.footer-content {
  margin-top: 15px;
  padding: 0 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  a {
    color: $fontA-color;
  }
  a:hover {
    color: $hover-color;
  }
}

@media (max-width: 991px) {
  .footer-content {
    margin-top: 12px;
    padding: 0 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    a {
      color: $fontA-color;
    }
    a:hover {
      color: $hover-color;
    }
  }
}

@media (max-width: 768px) {
  .footer-content {
    margin-top: 10px;
    padding: 0 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    a {
      color: $fontA-color;
    }
    a:hover {
      color: $hover-color;
    }
  }
}

@media (max-width: 400px) {
  .footer-content {
    margin-top: 7px;
    padding: 0 7px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    a {
      color: $fontA-color;
    }
    a:hover {
      color: $hover-color;
    }
  }
}
