.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.boxContainer {
  flex: 1 1 20rem;
  background-color: $fontA-color;
  justify-content: center;
  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem $font-color;
}

.imgGallery {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.galleryContent {
  padding: 2rem;
}

@media (max-width: 991px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
  .boxContainer {
    flex: 1 1 15rem;
    background-color: $fontA-color;
    justify-content: center;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem $font-color;
  }
  .imgGallery {
    height: 10rem;
    width: 100%;
    object-fit: cover;
  }
  .galleryContent {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .boxContainer {
    flex: 1 1 12rem;
    background-color: $fontA-color;
    justify-content: center;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem $font-color;
  }
  .imgGallery {
    height: 8rem;
    width: 100%;
    object-fit: cover;
  }
  .galleryContent {
    padding: 1rem;
  }
}

@media (max-width: 400px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .boxContainer {
    flex: 1 1 10rem;
    background-color: $fontA-color;
    justify-content: center;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem $font-color;
  }
  .imgGallery {
    height: 6rem;
    width: 100%;
    object-fit: cover;
  }
  .galleryContent {
    padding: 0.8rem;
  }
}
