.container {
  max-width: 1100px;
  padding: 4px 15px;
  margin: 0 auto;
  overflow: auto;
}
video {
  width: 600px;
  padding: 10px;
}

.showCase {
  @include setBackgroundColor($nav-bar-color);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    color: $fontA-color;
    padding: 15px;
  }
  a:hover {
    color: $hover-color;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  color: $font-color;
  background-color: $background-color;
  line-height: 1.6;
  h3 {
    @include setColor($small-tittle-color);
  }
}

.aColor {
  color: $fontA-color;
}

.titles {
  @include setColor($title-color);

  h1 {
    font-size: 80px;
    font-style: italic;
  }
  h2 {
    font-size: 20px;
  }
}

.imgContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.nameContainer {
  padding-left: 10px;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 991px) {
  .container {
    max-width: 900px;
    padding: 4px 12px;
    margin: 0 auto;
    overflow: auto;
  }
  video {
    width: 500px;
    padding: 10px;
  }
  .showCase {
    @include setBackgroundColor($nav-bar-color);
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    a {
      color: $fontA-color;
      padding: 12px;
    }
    a:hover {
      color: $hover-color;
    }
  }
  .titles {
    @include setColor($title-color);

    h1 {
      font-size: 70px;
      font-style: italic;
    }
    h2 {
      font-size: 18px;
    }
  }
  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 750px;
    padding: 4px 10px;
    margin: 0 auto;
    overflow: auto;
  }
  video {
    width: 400px;
    padding: 10px;
  }
  .showCase {
    @include setBackgroundColor($nav-bar-color);
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    a {
      color: $fontA-color;
      padding: 10px;
    }
    a:hover {
      color: $hover-color;
    }
  }
  .titles {
    @include setColor($title-color);

    h1 {
      font-size: 60px;
      font-style: italic;
    }
    h2 {
      font-size: 15px;
    }
  }
  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 600px;
    padding: 3px 8px;
    margin: 0 auto;
    overflow: auto;
  }
  video {
    width: 300px;
    padding: 10px;
  }
  .showCase {
    @include setBackgroundColor($nav-bar-color);
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    a {
      color: $fontA-color;
      padding: 8px;
    }
    a:hover {
      color: $hover-color;
    }
  }
  .titles {
    @include setColor($title-color);

    h1 {
      font-size: 50px;
      font-style: italic;
    }
    h2 {
      font-size: 12px;
    }
  }
  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: auto;
  }
}
