$font-stack: Arial, Helvetica, sans-serif;
$nav-bar-color: #424242;
$background-color: #282828;
$container-color: #004d00;
$title-color: #ffffff;
$small-tittle-color: #99ff99;
$font-color: #00ecde;
$fontA-color: #00867e;
$hover-color: #20fff2;
